#drawer-toggle-label:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #fff;
  left: 13px;
  top: 18px;
  box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
}

#drawer-toggle-label {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  background: transparent;
}

#drawer-toggle { visibility: hidden; }

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header { left: calc(100% - 50px); }

#drawer-toggle:checked ~ #drawer {
  width: calc(100% - 50px);
  left: 0;
}

#drawer-toggle:checked ~ section.content-wrapper { margin-left: 250px; }
 
@media screen and (min-width: 380px) {

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header { left: 300px; }

#drawer-toggle:checked ~ #drawer {
  width: 300px;
  left: 0;
}

}


#drawer {
  position: fixed;
  top: 0;
  padding-top: 50px;
  height: 100%;
  width: 250px;
  background: #2f2f2f;
  overflow-x: hidden;
  overflow-y: auto;
  left: -250px;
}

#drawer .section-title {
  text-align: center;
  color: #fff;  
  margin-bottom: 45px;
}

#drawer ul {
  margin: auto 20px;
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  
}

#drawer li a, #drawer li span {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#drawer li span a {
  text-decoration: underline;
}

#drawer li {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  border: 1px solid white
}

#drawer { padding-top: 10px; }

#drawer li.arrow-down {
  margin: 20px auto;
  text-align: center;
  border: 0px !important;
}
#drawer li.input {
  border-color: rgb(153, 0, 0);
}
#drawer li.output {
  border-color: rgb(0, 146, 0);
}

#drawer li.input.title,
#drawer li.output.title {
  border: 0px;
  font-weight: bolder;
  font-size: 1.2em;
}
#drawer .img-arrow-down {
  width: 25px;

}