body {
  background: url(../img/texture-noise.png);  
}

.listIOtitle, .listIOtitle:hover {
  color: #fff;
}

.modal-fullscreen  {
  margin: 0;
  padding: 0 !important;  
}

.modal-fullscreen .modal-dialog, 
.modal-fullscreen .modal-dialog .modal-dialog-scrollable  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: initial;
  max-height: initial;
}

.modal-fullscreen .modal-content,
.modal-fullscreen .modal-content .modal-dialog-scrollable   {
  height: auto;
  height: 100%;
  border-radius: 0;
  max-width: initial;
  max-height: initial;
  background: url(../img/texture-noise.png);  
}

  
#service-flow .node {
  stroke: initial
}
#service-flow .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#service-flow .node text {
  font-size: 14px;
}

#service-flow path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
} 

#service-flow .node text.nodeHasChildren {
  font-weight: 600;
  fill: rgb(85, 85, 85);
  stroke: none;
}
 


.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    float: none;
}

.text-center {
  text-align: center;
}

.page-caption{
  margin: auto 80px;
}

.github-link {
  float: right;
}

.link {
    stroke: #000;
    stroke-opacity: .8;
}
.node {
    stroke: #fff;
    fill: rgb(113, 136, 146);
    stroke-width: 1.5px;
}
circle {
  r: 10;
}

.label {
    font-size: 0.7em
}
.label-category {
    fill: #F25022;
    font-weight: 800
}

.node-category {
    fill: #F25022;
    r: 13;
}

.has-linking-services {
  fill: rgb(2, 2, 121)
}

text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#service-vs-group-map {
  text-align: center;
}

#service-vs-group-map svg {
  margin-top: -100px;
}



dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    /* width: 160px; */
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    /* margin-left: 180px; */
  }
}

.dl-horizontal dd:before,
.dl-horizontal dd:after{
  display: table;
  content: " ";
}

.dl-horizontal dd:after{
  clear: both;
}

.node-notes {
  margin: 0 auto;
  width: 300px;
}