<!DOCTYPE html>
<html>
<meta charset="utf-8">
<base href="">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="css/style.css"/>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3-queue.v3.min.js"></script>
<script src="https://d3js.org/d3-hierarchy.v1.min.js"></script>
<script src="js/micro-templating.js"></script>
<script src="js/servicesVsGroups.js"></script>
<script>
  var SL = null;
  d3.queue()
    .defer(d3.json, "js/data/azure-services.json")
    .defer(d3.json, "js/data/azure-services-linking.json")
    .await(start);

  function start(error, services, serviceLinking) {
    if(error) {
      alert('Cannot get data')
      return false
    }

    SL = new ServiceLinking(services, serviceLinking)
    SvsG = new ServicesVsGroupsForceDirectedTree(SL.services)
    


    var app = new Vue({
      el: '#app',
      data: {
        searchVal: null,
        servicesList: SL.servicesByCategory,        
        currentView: 'tree',
        mapRendered: false
      },
      computed: {
        filteredServicesList: function() {
          if (!this.searchVal) {
            return this.servicesList
          }

          let filteredData = {}
          let regex = new RegExp("" + this.searchVal + "", "i")
          for (let category in this.servicesList) {
            let matchedServices = this.servicesList[category].filter(function(service){
              return -1 !== service.name.search(regex)
            })
            if (matchedServices.length > 0) {
              filteredData[category] = matchedServices
            }
          }

          return filteredData
        }
      },
      watch: {
        searchVal: function(val) {
          $('.service-list-col-service-item').popover('dispose')
          SvsG.searchValue = val
        },
        currentView: function(val) {
          let that = this
          if (false === this.mapRendered) {
            setTimeout(function(){
              that.renderMap()
              that.mapRendered = true
            },200)            
          }
          
        }
      },
      methods: {
        renderMap: function() {
          return SvsG.render()
        },
        changeServicesTreeView: function (newViewValue) {
          this.currentView = newViewValue
        },
        clearSearchField: function() {
          this.searchVal = null
        },
        showServiceTooltip: function(serviceId, element) {       
          $('.service-list-col-service-item').popover('dispose')          
          $('#'+element)
            .popover({
              title: SL.service[serviceId].name,
              content: tmpl("service_node_popover", SL.service[serviceId]),
              sanitize: false,
              // trigger: 'click',
              html: true
            })
            .popover('show')
        }
      }
    })
    
  } 
</script>
<body>
    <script type='text/html' id='service_node_popover'>
      <div>
        <ul class="list-unstyled">
          <li>
            <a href="<%=url%>" target="_blank">              
              Docs
            </a>
          </li>
          <% if (servicesIO.input && servicesIO.input.length >0
          || servicesIO.output && servicesIO.output.length >0 ) { %>
            <li>
              <a href="#" 
                data-toggle="modal"  
                data-target="#direct-io-out-services-modal"  
                data-service-id="<%=id%>" 
                > 
                Show Direct In/Out connections 
              </a></li>

              <% if (servicesIO.output && servicesIO.output.length >0 ) { %>
            <li>
                <a href="#" 
                  data-toggle="modal"  
                  data-target="#io-out-service-tree-modal"  
                  data-service-id="<%=id%>" 
                  > 
                  Show IO tree
              </a></li>
              <% } %>
          </ul>
          <% } %>
      </div>
    </script>

    <script type='text/html' id="direct_io_out_services_modal_tpl">
      <div class="container">
        <div class="row">
          <% if (servicesIO.input && servicesIO.input.length >0 ) { %>
            <div class="col">
              <div class="list-group">
                <div class="list-group-item list-group-item-action bg-primary listIOtitle text-center text-bold">
                  To: <%=name%><br/>
                  <img src="img/arrow-down.png" width="35px" style="transform: rotate(180deg);">
                </div>
                
                  <% for (var i =0; i < servicesIO.input.length; i++) { %>
                    <span class="list-group-item list-group-item-action">                        
                        <% if (SL.services[servicesIO.input[i]]) { %>
                          <% if (SL.services[servicesIO.input[i]].icon) { %>
                            <img class="service-icon" src="<%=SL.services[servicesIO.input[i]].icon%>"/>
                          <% } %>
                          <%=SL.services[servicesIO.input[i]].name%>
                          (<a href="<%=SL.services[servicesIO.input[i]].url%>" target="_blank">docs</a>)
                        <% } else { %>  
                          <%=servicesIO.input[i]%>
                        <% } %> 
                    </span>
                  <% } %>                                    
                </div>
            </div>          
          <% } %>

          <% if (servicesIO.output && servicesIO.output.length >0 ) { %>
            <div class="col">
              <div class="list-group">
                  <div class="list-group-item list-group-item-action bg-success listIOtitle text-center text-bold">
                      From: <%=name%><br/>
                      <img src="img/arrow-down.png" width="35px">
                    </div>
                
                  <% for (var i =0; i < servicesIO.output.length; i++) { %>
                    <span class="list-group-item list-group-item-action">
                      <% if (SL.services[servicesIO.output[i]]) { %>
                        <% if (SL.services[servicesIO.output[i]].icon) { %>
                          <img class="service-icon" src="<%=SL.services[servicesIO.output[i]].icon%>"/>
                        <% } %>
                        <%=SL.services[servicesIO.output[i]].name%>
                        (<a href="<%=SL.services[servicesIO.output[i]].url%>" target="_blank">docs</a>)
                      <% } else { %>  
                        <%=servicesIO.output[i]%>
                      <% } %>  
                    </span>
                  <% } %>
              </div>
            </div>
          <% } %>
        </div>        
      </div>
    </script>


  <div id="app">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <div class="pull-left">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Azure services</a>
        
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            
          </li>
        </ul>
      </div>
      <div class="pull-right">
        <a href="https://github.com/nnmer/azure-services-map" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg svg-github" viewBox="0 0 512 499.36" role="img" focusable="false">
            <title>GitHub</title>
            <path 
              fill="currentColor" 
              fill-rule="evenodd" 
              d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z">
            </path>
          </svg>
        </a>
      </div>
      
    </nav>
    <div class="clearfix"></div>

    <div class="container-fluid">
      <div class="row">

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">            
            <h1 class="h2">Azure services</h1>          
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  v-bind:class="{active: currentView=='tree'}"
                  v-on:click="changeServicesTreeView('tree')">
                  Table view
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                v-bind:class="{active: currentView=='map'}"
                  v-on:click="changeServicesTreeView('map');">
                  Map view
                </button>
              </div>            
            </div>          
          </div>

          <div class="row">
            <div class="col-lg-8 col-sm-6">
              <input 
                class="form-control form-control-dark w-100 search-input" 
                type="text" placeholder="Search" aria-label="Search"
                v-model="searchVal"
                v-on:keydown.esc="clearSearchField"
              >
            </div>
            <div class="col-lg-4 col-sm-6" v-if="currentView=='tree'">
                - services may be placed in several service groups; <br/>
                - <i class="has-linking-services" style="padding: 0 8px;"></i> &nbsp;&nbsp;a service with input/output connection
            </div>
            <div class="col-lg-4 col-sm-6" v-if="currentView=='map'">                
                <svg width="20" height="20">
                    <circle cx="10" cy="10" class="node node-category" style="r: 10"></circle>                        
                  </svg> &nbsp;- a service group   
                  <br/>
                <svg width="20" height="20">
                  <circle cx="10" cy="10" class="node has-linking-services"></circle>
                </svg> &nbsp;- a service with input/output connections
            </div>
        </div>

          <div class="data-container">
              <div v-bind:class="{'d-none': currentView!='tree'}" class="data-container-tree">
                <div class="service-list-container">
                  <div class="service-list row text-center">
                    <div class="service-list-col" v-for="(services, category, catIdx) in filteredServicesList" >
                      <div class="service-list-col-title">
                        {{category}}
                      </div>
                      <div 
                          v-for="(service) in filteredServicesList[category]" 
                          class="service-list-col-service-item"
                          v-bind:class="{'has-linking-services':service.servicesIO.input && service.servicesIO.input.length >0
                          || service.servicesIO.output && service.servicesIO.output.length >0}"
                          v-bind:data-service-id="service.id"                                                    
                          v-bind:id="catIdx+'-'+service.id"
                          v-on:click="showServiceTooltip(service.id, catIdx+'-'+service.id)"
                      >
                        <div>
                          <img class="service-icon" v-bind:src="service.icon"/>  
                          <br/>   
                          {{service.name}}
                        </div>
                      </div>
                    </div>                
                  </div>          
                </div>  
              </div>
              
              <div v-bind:class="{'d-none': currentView!='map'}">                              
              
              
                  <div class="container-fluid">
                      <div class="text-center">                
                        <div>
                          <div class="node-notes">
                                                             
                          </div>       
                          <div>
                          </div>                 
                        </div>
                      </div>
                      
                      
                      <div class="clearfix"></div>
                  </div>
                  <div>        
                      <div class="svg-container">
                        <div class="service-flow-action-icons text-right">
                          <img src="img/drag.png" class="drag-icon" data-toggle="tooltip" data-placement="top" title="Click and drag canvas">
                          <img src="img/scroll.png" class="scroll-icon" data-toggle="tooltip" data-placement="top" title="Scroll to zoom Up/Down">
                        </div>
                        <div id="service-vs-group-map" ></div>
                      </div>                                  
                  </div>
              </div>
    
            </div>
        </main>
       
      </div>
    </div>
  </div>




  <div class="modal" id="direct-io-out-services-modal" tabindex="-1" aria-labelledby="direct-io-out-services-modal" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Service direct input/output connections </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
              </div>              
          </div>
      </div>      
    </div>

    <div class="modal modal-fullscreen" id="io-out-service-tree-modal" tabindex="-1" aria-labelledby="io-out-service-tree-modal" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Service output connections tree </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="svg-container">
                    <div class="service-flow-action-icons text-right">
                        <img src="img/drag.png" class="drag-icon" data-toggle="tooltip" data-placement="top" title="Click and drag canvas">
                        <img src="img/scroll.png" class="scroll-icon" data-toggle="tooltip" data-placement="top" title="Scroll to zoom Up/Down">
                      </div>
                    <div id="service-flow"></div>

                  </div>
              </div>              
          </div>
      </div>      
    </div>

  <script>                         
      function showServiceIntegrationTree(serviceId, services) {
        function buildChildren(id) {
          // console.warn('Called buildChildren',id)
          let service = services[id];
          let obj = {
            name: service ? service.name : id
          }
          circularRefTrack.push(id)

          if (service && service.servicesIO.output.length > 0){
            for (let i=0;i<service.servicesIO.output.length;i++){
              let servId = service.servicesIO.output[i];
                // console.warn(i)
                // console.warn(servId)
                // console.warn(services[servId])
                // console.warn(circularRefTrack)
                let depService = services[servId]
              let toInject = null;
              if (circularRefTrack.indexOf(servId) === -1 && depService) {
                toInject = buildChildren(servId)
              } else {
                toInject = {
                  name: depService ? depService.name : servId
                }
                circularRefTrack.push(servId)
              }
              if (!obj.children){
                obj.children = []
              }
              obj.children.push(toInject)                    
            }
          }

          return obj;
        }

        var circularRefTrack = [];
        $('#service-flow').html('');
        let tree = buildChildren(serviceId)              
        serviceFlowTree(tree)                            
      }
      
  </script>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){      

      $.fn.toEm = function(settings){
          settings = jQuery.extend({
              scope: 'body'
          }, settings);
          var that = parseInt(this[0],10),
              scopeTest = jQuery('<div style="display: none; font-size: 1em; margin: 0; padding:0; height: auto; line-height: 1; border:0;">&nbsp;</div>').appendTo(settings.scope),
              scopeVal = scopeTest.height();
          scopeTest.remove();
          return (that / scopeVal).toFixed(8) + 'em';
      };


      $.fn.toPx = function(settings){
          settings = jQuery.extend({
              scope: 'body'
          }, settings);
          var that = parseFloat(this[0]),
              scopeTest = jQuery('<div style="display: none; font-size: 1em; margin: 0; padding:0; height: auto; line-height: 1; border:0;">&nbsp;</div>').appendTo(settings.scope),
              scopeVal = scopeTest.height();
          scopeTest.remove();
          return Math.round(that * scopeVal) + 'px';
      };

      $('body').click( function(e){
        if (!$(e.target).is("circle[id^=service-node]")) {
          $('circle[id^=service-node]').popover('hide')
        }
        if ($(e.target).closest('.service-list-col-service-item').length == 0) {
          $('.service-list-col-service-item').popover('hide')          
        }
      });

      $('[data-toggle="tooltip"]').tooltip();
      
      $('#direct-io-out-services-modal').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var serviceId = button.data('serviceId')         
        var modal = $(this)
      
        modal.find('.modal-body').html(
          tmpl("direct_io_out_services_modal_tpl", SL.services[serviceId])
        )    
      })
      
      $('#io-out-service-tree-modal').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var serviceId = button.data('serviceId')         
        var modal = $(this)
        showServiceIntegrationTree(serviceId, SL.services)
        // modal.find('.modal-body').html(
        //   tmpl("direct_io_out_services_modal_tpl", SL.services[serviceId])
        // )    
      })
    })
  </script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134745718-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134745718-1');
</script>

</body>
</html>