<!DOCTYPE html>
<html>
<meta charset="utf-8">
<base href="">
 <link rel="stylesheet" href="css/style.css"/>
 <link rel="stylesheet" href="css/drawer.css"/>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3-queue.v3.min.js"></script>
<script src="js/micro-templating.js"></script>
<script src="js/servicesVsGroups.js"></script>

<body>
    <script type="text/html" id="service_linking_drawer">
      <div class="section">
        <div class="section-title">
          <h3>Service input/output flow</h3>
        </div>

        <ul>
            <% if (servicesIO.input && servicesIO.input.length >0 ) { %>
              <% for (var i =0; i < servicesIO.input.length; i++) { %>
                <li class="input"><span><%=servicesIO.input[i]%></span></li>
              <% } %>        
              
              <li class="arrow-down"><img src="img/arrow-down.png" class="img-arrow-down"/></li>
              <li class="input title"><span>Input</span></li>
            <% } %>
    
            <li class="main-service">
              <span><%=name%></span>
            </li>
    
            <% if (servicesIO.output && servicesIO.output.length >0 ) { %>
              <li class="output title"><span>Output</span></li>
              <li class="arrow-down"><img src="img/arrow-down.png" class="img-arrow-down"/></li>
            
              <% for (var i =0; i < servicesIO.output.length; i++) { %>
                <li class="output"><span><%=servicesIO.output[i]%></span></li>
              <% } %>
            <% } %>
        </ul>  
      </div>
    </script>
    <div>
        <div class="text-center">
          <div class="github-link">
              <h3>
                  <a href="https://github.com/nnmer/azure-services-map">
                      <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="40px">
                  </a>
              </h3>
          </div>
          <div class="page-caption">
            <div>
              <h2>Reference to Azure services</h2>
              <span>
                  Doubleclick on a node to focus. Drag to better location.
              </span>            
            </div>            
          </div>   
        </div>
        <div>
            <div class="node-notes pull-right">
                <dl class="dl-horizontal" >
                  <dt><svg width="20" height="20">
                      <circle cx="10" cy="10" class="node"></circle>
                      <!-- <text x="10" y="10">- Service has input/output connections</text> -->
                    </svg></dt>
                  <dd>
                    &nbsp;- azure service
                  </dd>
  
                  <dt><svg width="20" height="20">
                      <circle cx="10" cy="10" class="node has-linking-services"></circle>
                      <!-- <text x="10" y="10">- Service has input/output connections</text> -->
                    </svg></dt>
                  <dd>
                    &nbsp;- a service with input/output connections
                  </dd>
  
                  <dt><svg width="20" height="20">
                      <circle cx="10" cy="10" class="node node-category" style="r: 10"></circle>
                      <!-- <text x="10" y="10">- Service has input/output connections</text> -->
                    </svg></dt>
                  <dd>
                    &nbsp;- a service category
                  </dd>
                </dl>                    
              </div>       
        </div>
        
        <div class="clearfix"></div>
    </div>
    <div>
        <input type="checkbox" id="drawer-toggle">
        <label for="drawer-toggle" id="drawer-toggle-label"></label>

        <nav id="drawer"></nav>

        <div id="service-vs-group-map">
        <script>

            d3.queue()
              .defer(d3.json, "js/data/azure-services.json")
              .defer(d3.json, "js/data/azure-services-linking.json")
              .await(start);

            function start(error, serviceVsGroup, serviceLinking) {
              let SL = new ServiceLinking(serviceVsGroup, serviceLinking)

              for (let key in SL.flatSourceTargetMap) {
                if (serviceVsGroup[key]) {
                  serviceVsGroup[key].servicesIO = SL.flatSourceTargetMap[key]
                }
              }
              serviceVsGroup = services2ServiceCategoryLink(serviceVsGroup)              

              if(error) {
                alert('Cannot get data')
                return false 
              }
              servicesVsGroups(serviceVsGroup)
            }      
            
            function showServiceLinking(selectedService) {
              let drawer = document.getElementById("drawer");
              let toggle = document.getElementById("drawer-toggle")
              if (false === selectedService) { 
                toggle.removeAttribute('checked')                
                return;
              }
              
              if (selectedService.servicesIO.input || selectedService.servicesIO.output ) {
                toggle.setAttribute('checked','checked')
                drawer.innerHTML = tmpl("service_linking_drawer", selectedService);
              }
            }
            
        </script>
        </div>
    </div>
</body>
</html>