
#service-vs-group-map {
  text-align: center;
}

.link {
  stroke: $base-color;
  stroke-width: 3px;
  // stroke-opacity: 1;
  fill: none;
}
.node {
  stroke: $white;
  fill: $white;
  stroke-width: 0px;
  cursor: pointer
}
circle {
  r: 10;
  stroke: $base-color;
  fill: $white;
  stroke-width: 1.5px;
  
  &.nodeHasChildren {
    fill: $base-color;//rgb(113, 136, 146);
    stroke: $white;
  }
}


// .text-darkred {
//   color: #7b0003;/*#b90000;*/
// }
// a.text-darkred:hover {
//   color: #7b0003;
// }

.service-flow-action-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  img {
    max-height: 45px;
  }

  .drag-icon {
    width: 30px;
  }
}

.node.node-hovered {
  /* stroke: rgb(1, 97, 1);
  fill: rgb(1, 97, 1); */
  stroke: #FC0;
  fill: #FC0;
  stroke-width: 4px;
}

#service-node-hovered-label-background {
  fill: transparent;
}

text.label.node-hovered {
  font-weight: 700;
}

.label {
  font-size: 0.7em
}
.label-category {
  fill: #F25022;
  font-weight: 800
}

.node-category {
  fill: #F25022;
  r: 13;
}

.has-linking-services {
  fill: rgb(2, 2, 121);
  color: rgb(2, 2, 121);
  font-weight: 700;
}
.has-linking-services.help-note {
  background-color: rgb(2, 2, 121);
}