$web-font-path: "https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" !default;
@import url($web-font-path);

@mixin scroller () {
  &::-webkit-scrollbar {
    width: 7px;
    height:7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $light;
  }
  &::-webkit-scrollbar-corner {
    background-color: $base-color;
  }
}

.btn {
  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}


.dropdown-menu {

  font-size: $font-size-sm;
}

.dropdown-header {
  font-size: $font-size-sm;
}

.blockquote-footer {
  color: $body-color;
}


label,
.radio label,
.checkbox label,
.help-block {
  font-size: $font-size-sm;
}


.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link:hover {
    color: $body-color;
  }

  .nav-link.disabled {
    color: $nav-link-disabled-color;
  }
}

.page-link:hover,
.page-link:focus {
  color: #fff;
  text-decoration: none;
}


.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

.badge {
  &-warning,
  &-info {
    color: $white;
  }
}

.close {
  color: #fff;
  text-shadow: none;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }
}



.show-scroll-always {
  @include scroller;
}



.service-icon-wrapper {
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(78, 67, 67, 0.25);
  width: 46px;
  height: 46px;
  background-color: $white;
  margin: 0 auto;

  .service-icon {
    position: relative;
    text-align: center;
    // max-width: 40px;
    height: 30px;
    margin-top: 8px;
    // margin-left: 1px;
  }
}

.action-icon {
  padding: 5px 5px 5px 5px;
  opacity: 0.3;
}
.action-icon:hover {
  opacity: 1;
  fill: $white;
}




.region-availability-round-flag{
  height: 10px;
  width: 10px;
  line-height: 8px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 0 2px rgba(7, 6, 6, 0.25);

  &.region-availability-ga {
    background-color: $availability-ga;
  }

  &.region-availability-preview {
    background-color: $availability-preview;
  }

  &.region-availability-expected {
    background-color: $availability-expected;
  }
}