.periodic-table-filter {  
  input {
    background: none;
    border-bottom: 1px solid $gray-600;
    color: $white;    

    &.form-control:focus {
      background: none;
      border: none;
      border-bottom: 1px solid $white;
      box-shadow:none;
      color: $white;

      ~.input-group-append,
      ~.input-group-prepend {
        border-bottom: 1px solid $white;
        .input-group-text{
          background: none;
        }
      }
    }
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }
  

  .input-group {
    .input-group-append{
      border-bottom: 1px solid $gray-600;
      .input-group-text{
        background: none;
      }
    }
    .input-group-prepend {
      border-bottom: none;
      .input-group-text{
        background: none;        
      }
      svg {
        fill: $gray-300;
      }
    }
    .clear-search-x {
      .input-group-text:hover{
        cursor: pointer;
      }
    }
  }
}


.service-list-container {
  .service-list{
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    height: calc(100vh - 141px);
    display: flex;
    flex-wrap: nowrap;

    .service-list-col {
      min-width: 140px;
      max-width: 140px;
      white-space: initial;
      font-size: $font-size-base * .8;
      flex-direction: column;

      .service-list-col-service-item {        
        height: 107px;
        border: 1px solid rgba(0, 0, 0, .1);
        // background-color: lighten($body-color, 35%);
        // background-color: $gray-600;
        background-color: lighten($base-color, 10%);
        // background-color: $gray-600;
        color: $black;
        cursor: default;  
        overflow: hidden;
        margin: 1px;
      
        .service-title {
          padding: 2px 5px;
          color: $white;    
        }
      
        > div {
          cursor: pointer;
        }
      }      

      .service-list-col-service-item:hover {
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 1px;
        border: none;
        // -moz-box-shadow: inset 0 0 30px rgb(226, 226, 226);
        // -webkit-box-shadow: inset 0 0 30px rgb(226, 226, 226);
        // box-shadow: inner 0 0 30px rgb(226, 226, 226);
      }
      

      .service-list-col-title {
        width: 100%;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 50px;
        background-color: $dark;
        color: $white;
        line-height: 15px;
        border-right: 1px solid rgba(229, 229, 229, .2);
        border-left: 1px solid rgba(229, 229, 229, .2);
      }
    }
  }
}






.services-direct-io-list {
  .table a:not(.btn) {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .col:first-child{
  }
}


.direct-io-list-service-item-wrapper {
  .service-icon {
  }
  
  .service-title {
    height: 46px;
    margin-left: ($spacer * .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .service-doc-links{
    text-align: right;
    vertical-align: middle;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
  }
}
