
.periodic-table-geo-filter {
  .field-prefix {
    img {
      width: 24px;
    }
    &::after {
      content: ' : ';
    }
  }
  .react-dropdown-tree-select {
    .arrow::after {
      display: none;
    }
    .search {
      display: none;
    }
    .dropdown {
      width: 100%;
    }
    .dropdown-trigger {
      border-bottom: 1px solid $gray-600;
      width: 100%;
    }
  }

  .periodic-table-geo-regions-wrapper {    
    flex: 1 1 0%;
    margin-top: 4px;
  }
  .periodic-table-geo-regions-availability-wrapper {
    margin-left: 46px;
  }
}
.react-dropdown-tree-select{

 .dropdown {
    position: relative;
    display: table;

    .dropdown-content {
      margin-top: -7px;
      position: absolute;
      width: 100%;
      // max-width:300px;
      min-width:300px;
      max-height: 480px;
      overflow-y: auto;
      padding: 4px 10px;
      z-index: 1;
      background: $base-color;//#fff;
      border-top: 1px solid rgba(0, 0, 0, .05);
      -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
      box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
      border-color: #fff;

      @include scroller;
    
      .search {
        width: 100%;
        // display: none;
        border: none;
        
        // border-bottom: 1px solid #ccc;
        outline: none;
      }
    
      ul {
        margin: 0;
        padding: 0
      }
    }
    
    .dropdown-trigger {
      // padding: 4px;
      line-height: 2;
      max-height: 200px;
      display: inline-block;
      overflow: auto;
      // border: 1px solid #b9b9b9;

      &.arrow {
        cursor: pointer;
        
        &.disabled {
          cursor: not-allowed;

          &.bottom:after {
            color: #b9b9b9;
          }
        }

        &.top:after {
          content: "\25B2";
          vertical-align: middle;
          color: #3c3c3c;
          margin-right: 2px;          
        }

        &.bottom:after {
          content: "\25BC";
          vertical-align: middle;
          color: #3c3c3c;
          margin-right: 2px;
        }
      }
    }

    .tag-list {
      display: inline;
      padding: 0;
      margin: 0;
      
      .tag-item {
        display: inline-block;
        line-height: 1.2;
        margin-right: 5px;

        .search {
          border: none;
          width: 100%;
          outline: none;
        }
    
        .tag {
          color: $white;
          background-color: $gray-200;
          border-color: $gray-200;
          padding: 2px 0 2px 10px;
          border-radius: $border-radius;
          display: inline-block;

          &:hover {
            color: $white;
            background-color: $gray-800;
            border-color: $gray-800;
          }
          
          &:focus-within {
            background-color: $primary;
            border-color: #a0a0a0;
          }
        
          .tag-remove {
            position: relative;
            top: -2px;
            color: $white;
            font-size: 75%;
            line-height: 100%;
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
    
            &.disabled {
              cursor: not-allowed
            }
    
            &.readOnly {
              cursor: not-allowed
            }
    
            &:focus {
              color: #3c3c3c
            }
          }
        }

        &.disabled {
          cursor: not-allowed;
          .tag {
            opacity: 0.3;
            &:hover {
              // color: $white;
              background-color: $gray-200;
              border-color: $gray-200;
            }
            
            &:focus-within {
              color: $white;
              background-color: $gray-200;
              border-color: $gray-200;
            }
            .tag-remove {
              cursor: not-allowed;
              &:focus {
                color: $white
              }
            }
          }
        }        
      }      
    }    
  }
  &.availability-dropdown {
    .dropdown {
      .dropdown-trigger {
        line-height: 1.5;
      }
      .tag-list {
        .tag-item {
          line-height: 1.2;
          font-size: $font-size-sm;

          .tag {
            padding-bottom: 0px;
          }
        }
      }
    }
  }        

  .node {
    list-style: none;
    white-space: nowrap;
    padding: 4px;
    // padding-left: 34px !important;

    i.geo-slug {
      font-style: normal;
      margin-left: 15px;
      font-size: $font-size-base;
      color: $gray-600;
    }

    input[type="checkbox"] {
      margin-bottom: 5px;
    }
  
    &>label {
      cursor: pointer;
      margin-left: 2px
    }
  
    &.leaf {
      &[aria-level] {
        padding-left: 38px !important;
      }
      &[aria-level="1"] {
        padding-left: 20px !important;
      }
      &.collapsed {
        display: none
      }
    }
  
    &.disabled>* {
      color: gray;
      cursor: not-allowed
    }
  
    &.match-in-children.hide .node-label {
      opacity: .5
    }
  
    &.focused {
      background-color: #f4f4f4
    }
  }
  
  @mixin treeExpandIcon() {
    transition: transform 0.3s;
    content: url('/img/arr-gray.svg');
    width: 10px;
    stroke: $white;
    fill: $white;
    display: inline-block;
    vertical-align: middle;
  }
  
  .toggle {
    white-space: pre;
    margin: 0 5px;
    cursor: pointer;
    &:after {
      content: " ";

    }  
  
    &.collapsed:after {
      transform: rotateZ(-90deg);
      @include treeExpandIcon;
    }
    
    &.expanded:after {
      @include treeExpandIcon;
    }
  }
  
  
  
  
  .searchModeOn .toggle {
    display: none
  }
  
  .checkbox-item,
  .radio-item {
    vertical-align: middle;
    margin: 0 4px 0 0
  }
  
  .checkbox-item.simple-select,
  .radio-item.simple-select {
    display: none
  }
  
  .hide:not(.match-in-children) {
    display: none
  }
}

