html, body {
  height: 100%;
}

body {
  background: url(~src/assets/img/texture-noise.png);
}

a, a#update-status-popover-btn{
  color: #005dc1;
}

.clear-search-x .input-group-text{
  background-color: transparent;
  cursor: pointer;
}

.search-input:focus {
  border: 1px solid #ced4da !important;
}

.listIOtitle, .listIOtitle:hover {
  color: #fff;
}

.modal-fullscreen  {
  margin: 0;
  padding: 0 !important;
}

.modal-fullscreen .modal-dialog,
.modal-fullscreen .modal-dialog .modal-dialog-scrollable  {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  max-width: initial;
  max-height: initial;
}

.modal-fullscreen .modal-content,
.modal-fullscreen .modal-content .modal-dialog-scrollable   {
  height: auto;
  height: 100%;
  border-radius: 0;
  max-width: initial;
  max-height: initial;
  background: url(~src/assets/img/texture-noise.png);
}


.region-availability{
  height: 8px;
  width: 8px;
  line-height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.region-availability-ga {
  background-color: #00ae00;
}

.region-availability-preview {
  background-color: #ffa500;
}

.region-availability-expected {
  background-color: #00f;
}

.action-icon {
  padding: 5px 5px 5px 5px;
  opacity: 0.3;
}
.action-icon:hover {
  opacity: 1;
}


#service-flow .node {
  stroke: initial
}
#service-flow .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#service-flow .node text {
  font-size: 14px;
}

#service-flow path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#service-flow .node text.nodeHasChildren {
  font-weight: 600;
  fill: rgb(85, 85, 85);
  stroke: none;
}

.service-flow-action-icons {
  position: fixed;
  right: 20px;
  bottom: 0;
}
.service-flow-action-icons img {
  width: 45px;
  margin-bottom: 10px
}

.service-flow-action-icons .drag-icon {
  width: 30px
}

.navbar-nav-svg.svg-github {
  margin: 10px;
  width: 30px;
  color: #FFF;
}

.service-icon {
  width: 24px;
}

.opacity07 {
  opacity: 0.7;
}

.p-t-10 {
  padding-top: 10px
}
.p-t-20 {
  padding-top: 20px
}

.m-t-7 {
  margin-top: 7px;
}

.m-r-5 {
  margin-right: 5px;
}
.m-r-15 {
  margin-right: 15px;
}

.m-none {
  margin: 0;
}

.p-none {
  padding: 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    float: none;
}

.text-center {
  text-align: center;
}

.page-caption{
  margin: auto 80px;
  margin-bottom: 20px;
}

.github-link {
  float: right;
}

.link {
    stroke: #000;
    stroke-opacity: .8;
}
.node {
    stroke: #fff;
    fill: rgb(113, 136, 146);
    stroke-width: 1.5px;
    cursor: pointer
}
circle {
  r: 10;
}

.text-darkred {
  color: #7b0003;/*#b90000;*/
}
a.text-darkred:hover {
  color: #7b0003;
}

.node.node-hovered {
  /* stroke: rgb(1, 97, 1);
  fill: rgb(1, 97, 1); */
  stroke: #FC0;
  fill: #FC0;
  stroke-width: 4px;
}

#service-node-hovered-label-background {
 fill: transparent;
}

text.label.node-hovered {
  font-weight: 700;
}

.label {
    font-size: 0.7em
}
.label-category {
    fill: #F25022;
    font-weight: 800
}

.node-category {
    fill: #F25022;
    r: 13;
}

.has-linking-services {
  fill: rgb(2, 2, 121);
  color: rgb(2, 2, 121);
  font-weight: 700;
}
.has-linking-services.help-note {
  background-color: rgb(2, 2, 121);
}

text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#service-vs-group-map {
  text-align: center;
}



dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    /* width: 160px; */
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    /* margin-left: 180px; */
  }
}

.dl-horizontal dd:before,
.dl-horizontal dd:after{
  display: table;
  content: " ";
}

.dl-horizontal dd:after{
  clear: both;
}


















body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control {
    font-size: unset;
}

.vue-treeselect__control {
    border: 1px solid #ced4da;
}

.vue-treeselect__placeholder {
    color: #737a82;
}

.vue-treeselect__multi-value-item,
.vue-treeselect__value-remove {
    color: #007bff;
    background: #f0f8fd;
}

.form-control-dark,
.treeselect-no-focus-greyed .vue-treeselect__control {
  /* color: #fff; */
  background-color: rgba(255, 255, 255, .1);
  /* border-color: rgba(255, 255, 255, .1); */
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.search-input {
  /* border:  */
}


.data-container-table {
  background-color: rgba(0, 0, 0, .1);
}

.scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height:7px;
}
.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6c7897;
  /* background-color: rgba(17, 0, 255, 0.603); */
  /* -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5); */
}

.service-list-col-title {
  width: 100%;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  background-color: #343a40;
  color: #fff;
  line-height: 15px;
  border-right: 1px solid rgba(229, 229, 229, .2);
  border-left: 1px solid rgba(229, 229, 229, .2);
}

.service-list-container > .row {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  position: relative;
  height: calc(100vh - 177px - 0.5rem)
}

.service-list-container > .row > .service-list-col {
  min-width: 140px;
  max-width: 140px;
  white-space: initial;
  /* display: inline-block; */
  /* float: left; */
}

.service-list-col-service-item {
  height: 107px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: white;
  cursor: default;
}

.service-list-col-service-item  .service-title {
  font-size: .82rem;
  padding: 0px 5px;
}

.service-list-col-service-item:hover {
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  border: none;
  -moz-box-shadow: inset 0 0 30px rgb(226, 226, 226);
  -webkit-box-shadow: inset 0 0 30px rgb(226, 226, 226);
  box-shadow: inner 0 0 30px rgb(226, 226, 226);
}

.service-list-col-service-item > div {
  cursor: pointer;
}


.modal-content {
  border-radius: 0px;
  border: none;
}

.services-direct-io-list .list-group-item {
  text-align: left
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0px;
}

.service-item-doc-links{
  font-size: 0.8em;
  line-height: 2;
}

/* Popover */
.popover {
  border-radius: 0px;
  border-color: #343a40;
  z-index: 1030;
  /*
  z-index - is just a hack, because we want to keep popover open when trigger modal to open.
  and modal should be on top of the popover.
  Yes, it potentially prevents popover to show on top of the modal
  */
}
.popover-header, .modal-header {
  background-color: #343a40;
  border-radius: 0px;
  color: #fff;
}

.modal-header button, .modal-header button:hover {
  color: white;
  opacity: 1
}

.bs-popover-auto[x-placement^=bottom] .popover-header::before,
.bs-popover-bottom .popover-header::before{
  content: initial;
}
.popover-body {
  /* background: url(../img/texture-noise.png);   */
  /* background-color: rgba(0, 0, 0, .1) */
}
.bs-popover-auto[x-placement^=right]>.arrow::after,
.bs-popover-right>.arrow::after {
  border-right-color: #343a40;
}
.bs-popover-auto[x-placement^=left]>.arrow::after,
.bs-popover-left>.arrow::after {
  border-left-color: #343a40;
}

.bs-popover-auto[x-placement^=top]>.arrow::after,
.bs-popover-top>.arrow::after {
  border-top-color: #343a40;
}

.bs-popover-auto[x-placement^=bottom]>.arrow::after,
.bs-popover-bottom>.arrow::after {
  border-bottom-color: #343a40;
}

#last-update-block {
  margin-top: -10px;
}

.update-status-popover {
  min-width: 340px;
}